#bg {
    /* The image used */
    background-image: url("/static/images/old_parchment.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
}
.bg-ruddy {
    background-color: #c51d1d;
}