body {
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.1rem;
}

#bg {
    /* The image used */
    background-image: url("/static/images/old_parchment.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}
.bg-parch {
    background-color: #eabe7c;
}
.bg-parch-tran {
    background-color: #ffc77361;
}
.bg-ruddy {
    background-color: #c51d1d;
}
a.bg-ruddy:hover, a.bg-ruddy:focus,
button.bg-ruddy:hover,
button.bg-ruddy:focus {
    background-color: #9c1717 !important;
}

.bg-dk_red {
    background-color: #660418 !important;
}

a.bg-dk_red:hover, a.bg-dk_red:focus,
button.bg-dk_red:hover,
button.bg-dk_red:focus {
    background-color: #540313 !important;
}
.bg-dk_red_trans {
    background-color: #8a0808f2 !important;
}

.bg-flame {
    background-color: #C43E0E !important;
}

a.bg-flame:hover, a.bg-flame:focus,
button.bg-flame:hover,
button.bg-flame:focus {
    background-color: #902D0A !important;
}

.bg-royal {
    background-color: #023674 !important;
}

a.bg-royal:hover, a.bg-royal:focus,
button.bg-royal:hover,
button.bg-royal:focus {
    background-color: #012653 !important;
}

#swords_logo {
    width: 100px;
}

.thick_border {
    border: 4px solid black !important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0.5px solid #000000;
}
