{% extends "inner_base.html" %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <h3 class="col-sm-8 mx-auto p-1 text-white text-center bg-dark thick_border">Campaigns</h3>
    </div>
    <div class="row my-3">
        <h3><small>Campaigns Created By:</small> <strong>{{request.user.username}}</strong></h3>
    </div>
    <div class="row">
        <div class="col font-weight-bold">
            <p>Add a Campaign below.</p>
            <ul>
                <li>Adding a campaign gives you a unique place for your party's initiative sort.</li>
                <li>All you need is a name.</li>
                <li>A code will be randomly generated.</li>
                <li>Send the Name and Code to your players so they can join your campaign.</li>
            </ul>
        </div>
    </div>
    <div class="font-weight-bold">
        <form class="row" action="/initiative/campaigns" method="POST">
            {% csrf_token %}
            {{form.non_field_errors}}
            <div class="col-md-6 my-2">
                {{form.name.errors}}
                <div class="col-sm-12">
                    {{form.name.label_tag}}
                    {{form.name}}
                </div>
            </div>
            <div class="col-md-6 my-2 text-center">
                <input class="btn btn-sm btn-gray bg-ruddy text-white thick_border" type="submit" value="Create and get code">
            </div>
        </form>
    </div>
    <div class="row my-3">
        <h2>All Campaigns</h2>
    </div>
    <div class="row my-3" style="overflow-x:auto;">
        <table class="table table-light table-sm table-bordered font-weight-bold bg-parch-tran shadow">
            <thead>
                <tr>
                    <th scope="col">Campaigns Created:</th>
                    <th scope="col">Code:</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in request.user.campaigns_created.all %}
                <tr>
                    <td><a href="/initiative/campaigns/{{campaign.id}}">{{campaign.name}}</a></td>
                    <td>{{ campaign.code }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}