{% extends "inner_base.html" %}

{% block content %}

<h2>Characters: {{request.user.username}}'s Campaigns</h2>
<hr>
<p>Add a character here to join a campaign.</p>

<main class="my-4">
    <div>
        <h2>Create a Campaign:</h2>
    </div>
    <div class="row">
        <form action="/initiative/campaigns" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form.name.errors}}
                {{form.name.label_tag}}
                {{form.name}}
            </div>
            <input type="submit" value="Create and get code">
        </form>
    </div>
    <div>
        <h2>All Campaigns</h2>
        <table class="table table-light table-striped table-sm table-bordered">
            <thead>
                <tr>
                    <th scope="col">Campaigns Created:</th>
                    <th scope="col">Code:</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in request.user.campaigns_created.all %}
                <tr>
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.code }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}