{% extends "inner_base.html" %}

{% block content %}

<h2>Characters: {{request.user.username}}'s characters</h2>
<hr>
<p>Add a character here to join a campaign.</p>

<main class="my-4">
    <div>
        <h2>Create a Character:</h2>
    </div>
    <div class="row">
        <form action="/initiative/characters" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form.name.errors}}
                {{form.name.label_tag}}
                {{form.name}}
            </div>
            <div class="form-group">
                {{form.dex.errors}}
                {{form.dex.label_tag}}
                {{form.dex}}
            </div>
            <div class="form-group">
                {{form.bonus.errors}}
                {{form.bonus.label_tag}}
                <p> + </p>
                {{form.bonus}}
            </div>
            <input type="submit" value="Create">
        </form>
    </div>
    <div>
        <h2>All Characters</h2>
        <table class="table table-light table-striped table-sm table-bordered">
            <thead>
                <tr>
                    <th scope="col" colspan="3">Characters</th>
                    <th scope="col" colspan="2">Campaigns</th>
                </tr>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Dex</th>
                    <th scope="col">Total Bonus</th>
                    <th scope="col">Campaign Name</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody>
                {% for character in request.user.characters_created.all %}
                <tr>
                    <td><a href="/initiative/character/{{character.id}}">{{ character.name }}</a></td>
                    <td>{{ character.dex }}</td>
                    <td>+ {{ character.bonus}}</td>
                    {% if character.campaigns_joined is None %}
                        <td colspan='2'><a href="/initiative/character/{{character.id}}">Join a Campaign</a></td>
                    {% else %}
                        <td>{{character.campaigns_joined.name}}</td>
                        <td>{{character.campaigns_joined.code}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}