{% extends "inner_base.html" %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <h3 class="col-sm-8 mx-auto p-1 text-white text-center bg-dark shadow">Character: {{one_char.name}}</h3>
    </div>
    <div class="row my-3">
        <div class="col">
            <ul>
                <li><h5>Owned by User: <strong>{{one_char.user.username}}</strong></h5></li>
                <li><h5>Dexterity Score: {{one_char.dex}}</h5></li>
                <li><h5>Total Initiative Bonus: + {{one_char.bonus}}</h5></li>
            </ul>
        </div>
    </div>
    <div>
        <h4><strong>Join a Campaign:</strong></h4>
        <p>Enter the Name and Code of your DM's campaign to add this character.</p>
    </div>
    <div class="font-weight-bold my-3">
        <form class="row" action="/initiative/character/{{one_char.id}}/join_campaign" method="POST">
            {% csrf_token %}
            {{form.non_field_errors}}
            <div class="col-md-5">
                {{form.name.errors}}
                <div class="col-sm-12">
                    {{form.name.label_tag}}
                    {{form.name}}
                </div>
            </div>
            <div class="col-md-5">
                {{form.code.errors}}
                <div class="col-sm-12">
                    {{form.code.label_tag}}
                    {{form.code}}
                </div>
            </div>
            <div class="col text-center my-2">
                <input class="btn btn-sm btn-gray bg-ruddy text-white mx-5 my-2 align-middle thick_border" type="submit" value="Join Campaign">
            </div>
        </form>
    </div>
    <div class="row my-3">
        <h4>All Campaigns Joined</h4>
    </div>
    <div class="row my-3" style="overflow-x:auto;">
        <table class="table table-light table-sm table-bordered font-weight-bold text-center bg-parch-tran shadow">
            <thead>
                <tr>
                    <th scope="col">Campaign Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in one_char.campaigns_joined.all %}
                <tr>
                    <td><a href="/initiative/campaigns/{{campaign.id}}">{{campaign.name}}</a></td>
                    <td>{{ campaign.code }}</td>
                    <td>
                        <button type="button" class="btn btn-sm bg-dk_red text-white my-1 align-middle" data-toggle="modal" data-target="#leaveCampaignModal" data-campaign_name="{{campaign.name}}"data-campaign_id="{{campaign.id}}">Leave Campaign</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="leaveCampaignModal" tabindex="-1" role="dialog" aria-labelledby="leaveCampaignModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-parch font-weight-bold">
                <div class="modal-header">
                    <h5 class="modal-title" id="leaveCampaignModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want {{one_char.name}} to leave the following Campaign?:</h4>
                    <h4 class="font-weight-bold" id="campaign_to_leave_name"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary border-dark" data-dismiss="modal">Close</button>
                    <form action="/initiative/character/{{one_char.id}}/leave_campaign" method="POST">
                        {% csrf_token %}
                        <input id="campaign_to_leave" type="hidden" name="campaign" value="{{campaign.id}}">
                        <button type="submit" class="btn btn-grey bg-dk_red text-white my-1 align-middle border-dark">Leave Campaign</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}