{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center my-4">
        <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
            <p>Please enter your email so we can send you a password reset link.</p>
            <p>{{ form.email }}</p> 
            <input class="btn btn-danger" type="submit" class="btn btn-default btn-lg" value="Reset password">
        </form>
    </div>
{% endblock %}