<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initiative Tracker - Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/my_styles.css' %}">
</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="container" id="bg">
            <div class="container col-lg-10 mx-auto">
                <div class="row justify-content-center">
                    <h1 class="text-center bg-ruddy p-3 align-middle">Welcome to Initiative Tracker</h1>
                </div>
                <div class="container justify-content-center my-4">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>