
{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <h5 class="text-center my-4"><strong>Initiative Tracker is a straightforward tool for managing initiative and combat order for large groups.</strong></h5>
        <h5 class="text-center my-4"><strong>Multiple players can log in, enter their own intitiative roll, and the order is automatically sorted and displayed.</strong></h5>
        <h5 class="text-center my-4"><strong>Want to give it a try?</strong></h5>
    </div>
    <div class="row justify-content-center">
        <h5 class="text-center mt-5">Register:</h3>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-gray bg-ruddy text-white mx-auto my-3 shadow" href="/accounts/register">Register</a>
    </div>
    <div class="row justify-content-center">
        <h5 class="text-center mt-5">Or Log In:</h3>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-gray bg-royal text-white mx-auto my-3 shadow" href="/accounts/login">Log In</a>
    </div>
{% endblock %}
