{% extends "inner_base.html" %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <h3 class="col-6 mx-auto p-1 text-white text-center bg-dark thick_border">Profile</h3>
    </div>
    <div class="row my-3">
        <h3><small>Username:</small> <strong>{{request.user.username}}</strong></h3>
    </div>
    <div class="row my-3">
        <h4>{{request.user.username}}'s Characters</h4>
    </div>
    <div class="row my-3" style="overflow-x:auto;">
        <table class="table table-light table-sm table-bordered font-weight-bold bg-parch-tran shadow">
            <thead>
                <tr>
                    <th scope="col" colspan="3" class="text-center">Characters</th>
                    <th scope="col" colspan="2" class="text-center">Campaigns</th>
                </tr>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Dex</th>
                    <th scope="col">Total Bonus</th>
                    <th scope="col" class="text-center">Campagn Name and Code</th>
                </tr>
            </thead>
            <tbody>
                {% for character in request.user.characters_created.all %}
                <tr>
                    <td><a href="/initiative/character/{{character.id}}">{{ character.name }}</a></td>
                    <td>{{ character.dex }}</td>
                    <td>+ {{ character.bonus}}</td>
                    <td>
                        {% if character.campaigns_joined.all|length > 0 %}
                        <ul class="list-group">
                            {% for campaign in character.campaigns_joined.all %}
                            <li class="list-group-item p-1 bg-parch-tran">
                                <ul class="list-inline text-center">
                                    <li class="list-inline-item mx-4"><a href="/initiative/campaigns/{{campaign.id}}">{{campaign.name}}</a></li>
                                    <li class="list-inline-item mx-4">{{campaign.code}}</li>
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <a class="btn btn-sm btn-gray bg-dk_red text-white mx-5 my-2 align-middle thick_border" href="/initiative/character/{{character.id}}">Join a Campaign</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="overflow-x:auto;" class="row my-3">
        <h4>{{request.user.username}}'s Created Campaigns</h4>
        <table class="table table-light table-sm font-weight-bold table-bordered bg-parch-tran shadow">
            <thead>
                <tr>
                    <th class="scope="col">Campaign Name:</th>
                    <th scope="col">Code:</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in request.user.campaigns_created.all %}
                <tr>
                    <td><a href="/initiative/campaigns/{{campaign.id}}">{{campaign.name}}</a></td>
                    <td>{{ campaign.code }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}