{% extends "inner_base.html" %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <h2>Profile</h2>
    </div>
    <div class="row my-3">
        <h3>Username: {{request.user.username}}</h3>
    </div>
    <div class="row my-3">
        <h4>{{request.user.username}}'s Characters:</h4>
    </div>
    <div class="row my-3">
        <table class="table table-light table-striped table-sm table-bordered font-weight-bold">
            <thead>
                <tr>
                    <th scope="col" colspan="3" class="text-center">Characters</th>
                    <th scope="col" colspan="2" class="text-center">Campaigns</th>
                </tr>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Dex</th>
                    <th scope="col">Total Bonus</th>
                    <th scope="col" class="text-center">Campagn Name and Code</th>
                </tr>
            </thead>
            <tbody>
                {% for character in request.user.characters_created.all %}
                <tr>
                    <td><a href="/initiative/character/{{character.id}}">{{ character.name }}</a></td>
                    <td>{{ character.dex }}</td>
                    <td>+ {{ character.bonus}}</td>
                    <td>
                        {% if character.campaigns_joined.all|length > 0 %}
                        <table class="table table-light table-sm">
                            {% for campaign in character.campaigns_joined.all %}
                            <tr>
                                <td><a href="/initiative/campaigns/{{campaign.id}}">{{campaign.name}}</a></td>
                                <td>{{campaign.code}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <a class="btn btn-sm btn-gray bg-dk_red text-white mx-5 my-2 align-middle thick_border" href="/initiative/character/{{character.id}}">Join a Campaign</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row my-3">
        <h2>All Campaigns</h2>
        <table class="table table-light table-striped table-sm table-bordered">
            <thead>
                <tr>
                    <th scope="col">Campaigns Created:</th>
                    <th scope="col">Code:</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in request.user.campaigns_created.all %}
                <tr>
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.code }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}