{% extends 'base.html' %}

{% block content %}
<h2>Register:</h2>
<h5 class="text-center">All that's required is a username and a password:</h5>
<div class="row">
    <div class="col-12 col-sm-10 col-md-8 mx-auto">
        {{from.non_field_errors}}
        <form class="form-group" method="post">
            {% csrf_token %}
            <div class="form-group my-3">
                {{form.username.errors}}
                <div class="d-block">
                    <label for="{{form.username.id_for_label}}">Username:</label>
                </div>
                {{form.username}}
            </div>
            <div class="form-group my-3">
                {{form.password1.errors}}
                <div class="d-block">
                    <label for="{{form.password1.id_for_label}}">Password:</label>
                </div>
                {{form.password1}}
            </div>
            <div class="form-group my-3">
                {{form.password2.errors}}
                <div class="d-block">
                    <label for="{{form.password2.id_for_label}}">Confirm Password:</label>
                </div>
                {{form.password2}}
            </div>
            <div class="row">
                <button class="btn btn-gray bg-ruddy text-white text-center mx-auto my-3 shadow" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}