<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initiative Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/my_styles.css' %}">
</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="container" id="bg">
            <div class="container col-lg-10 mx-auto">
                <div class="row justify-content-center thick_border border-dark">
                    <div class="d-none d-sm-inline-block col-sm-12 col-md-2 text-center">
                        <a class="mx-auto" href="/"><img id="swords_logo" src="{% static '/images/swords_logo.png' %}" alt="Swords Logo"></a>
                    </div>
                    <div class="col-md-8">
                        <h2 class="text-center text-white mx-auto bg-ruddy my-3 p-2 align-middle thick_border border-dark shadow">Initiative Tracker</h2>
                    </div>
                    <div class="col-sm-12 col-md-2 text-center">
                        <a class="btn btn-gray bg-dk_red text-white mx-auto my-3 thick_border shadow" href="/accounts/logout"> Log Out</a>
                    </div>
                    <nav class="row ">
                        <div class="col-6 col-sm-3 text-center">
                            <a class="btn btn-gray bg-dk_red text-white my-2 thick_border shadow" href="/accounts/profile"> Profile</a>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <a class="btn btn-gray bg-dk_red text-white my-2 thick_border shadow" href="/initiative/characters"> Characters</a>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <a class="btn btn-gray bg-dk_red text-white my-2 thick_border shadow" href="/initiative/campaigns"> Campaigns</a>
                        </div>
                        <div class="col-6 col-sm-3 text-center">
                            <a class="btn btn-gray bg-dk_red text-white my-2 thick_border shadow" href="#"> Account</a>
                        </div>
                    </nav>
                </div>
                <div class="container justify-content-center my-4">
                {% block content %}
                {% endblock %}
                </div>
            </div>
            <div class="row justify-content-center border-dark text-white bg-ruddy">
                <ul class="list-group my-3">
                    <li class="list-group"><a href="https://github.com/s-graham42/initiative_tracker">github for this site</a></li>
                    <li class="list-group">Parchment Background from: <a href="https://www.myfreetextures.com/worn-parchment-paper-2/">myfreetextures.com</a></li>
                    <li class="list-group">Copyright 2020 Stephen Graham</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static '/javascript/my_script.js' %}"></script>
</body>
</html>