<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initiative Tracker - Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/my_styles.css' %}">
</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="container" id="bg">
            <div class="container col-lg-10 mx-auto">
                <div class="row justify-content-center thick_border border-dark">
                    <div class="col-lg-2">
                        <a class="align-middle mx-auto" href="/"><img id="swords_logo" src="{% static '/images/swords_logo.png' %}" alt="Swords Logo"></a>
                    </div>
                    <div class="col-lg-8">
                        <h2 class="text-center text-white mx-auto bg-ruddy my-3 p-2 align-middle thick_border border-dark">Welcome to Initiative Tracker</h2>
                    </div>
                    <div class="col-lg-2 mx-auto">
                        <a class="btn btn-gray bg-dk_red text-white mx-auto my-4 align-middle thick_border" href="/accounts/logout"> Log Out</a>
                    </div>
                    <nav class="row">
                        <a class="btn btn-gray bg-dk_red text-white mx-5 my-2 align-middle thick_border" href="/accounts/profile"> Profile</a>
                        <a class="btn btn-gray bg-dk_red text-white mx-5 my-2 align-middle thick_border" href="/initiative/characters"> Characters</a>
                        <a class="btn btn-gray bg-dk_red text-white mx-5 my-2 align-middle thick_border" href="/initiative/campaigns"> Campaigns</a>
                        <a class="btn btn-gray bg-dk_red text-white mx-5 my-2 align-middle thick_border" href="#"> Account</a>
                    </nav>
                </div>
                <div class="container justify-content-center my-4">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>